@import '~@styles/variables/colors';
@import '~@styles/tools/transitions';
@import '~@styles/tools/shadows';

.weather-card-wrapper{

  .center{
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin-bottom: 12px;
  }
}