@import '~@styles/variables/colors';
@import '~@styles/tools/transitions';

.card-slider-wrapper{
  width: 100%;

  .buttons-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .card-line-wrapper{
    width: 100%;
    overflow: hidden;

    .card-line{
      width: 100%;
      display: flex;
      padding: 6px;
      @include transition-card;

      &>*{
        width: calc(100% / 3 - (24px - 24px/3));
        min-width: calc(100% / 3 - (24px - 24px/3));

        @media (max-width: 719px) {
          width: calc(100% / 2 - (24px - 24px/2));
          min-width: calc(100% / 2 - (24px - 24px/2));
        }

        @media (max-width: 480px) {
          width: 100%;
          min-width: 100%;
        }
      }

      &>*:not(:last-child){
        margin-right: 24px;
      }
    }
  }
}